#ul-1 {
    list-style: disc;
}
#ul-2 {
    list-style: circle;
}
#ul-3 {
    list-style: square;
}
#ul-4 {
    list-style: none;
}

#ol-1 {
    list-style: decimal;
}

#ol-2 {
    list-style: decimal-leading-zero;
}

#ol-3 {
    list-style: lower-roman;
}

#ol-4 {
    list-style: upper-roman;
}

#ol-5 {
    list-style: lower-alpha;
}


