img {
	width: 300px;
	height: 200px;
}
img:hover {
	width: 500px;
	height: 400px;
}
a img {
	width: 30px;
	height: 20px;
}
a img:hover {
	width: 30px;
	height: 20px;
}


h1 {
	font-size: 1.5em;
	margin: 0.25em;
}

h2 {
	font-size: 1.25em;
	margin: 0.25em;
}

h3 {
	font-size: 1.em;
	margin: 0.25em;
}

p {
	margin: 0.25em 0;
}

footer p {
	text-align: center;
}

a:link, a:visited {
	color: #090909;
}
a:hover {
	font-size: larger;
	background-color: lightgray;
}
li {
	list-style: none;
	margin: 0.25em;
}

header{
	color: white;
	background-color: #262626;
	height: 3em;
	padding: 0.5em;
}
header h1 {
	text-align: center;
}

#main {
	padding: 0.5em;
	margin-left: 12em;
}

nav {
	color: white;
	background-color: #a9a9a9;
	padding: 0.5em;
	width: 10em;
	float: left;
}

footer {
	color: white;
	background-color: #2f4f4f;
	height: 3em;
	padding: 0.5em;
}
